body {
    position: relative;
    max-width: 1440px;
    min-height: 900px;
    margin: auto;
    background: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 954px;
    height: 594px;
    background: #BE0909;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}

.form-name {
    flex-direction: column;
}

.name {
    width: 111px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    background: none;
}