.block {
    max-width: 1440px;
    width: 100%;
    min-height: 900px;
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
}

.red-block {
    width: 954px;
    height: 594px;
    background-color: #BE0909;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 200px;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
}

.input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
    color: #000000;
}

.btn {
    width: 202px;
    height: 48px;
    background-color: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn:hover {
    cursor: pointer;
    background-color: #326066;
}

.orange-block {
    width: 345px;
    height: 594px;
    background-color: #ffb039;
    display: flex;
    justify-content: flex-end;
}