body {
    width: 100%;
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form-block {
    max-width: 954px;
    width: 100%;
    min-width: 594px;
    background-color: #BE0909;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-block {
    display: flex;
    flex-direction: column;
}

label[for="name"],
label[for="email"],
label[for="message"],
label[for="message-two"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.name, .email, .text-message {
    max-width: 400px;
    width: 100%;
    margin: 22px;
    background-color: #BE0909;
    border-bottom: 1px solid #9DBEBB;
}
.name, .email, .text-message{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
    color: #FDFFFF;
}

.btn {
    width: 200px;
    height: 48px;
    background-color: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn:hover {
    cursor: pointer;
    background-color: #326066;
}

.orange-block {
    max-width: 345px;
    width: 100%;
    min-height: 594px;
    left: 852px;
    top: 153px;
    background-color: #FFB039;
}
.duck {
    position: absolute;
    max-width: 663px;
    width: 100%;
    min-height: 603px;
    left: 585px;
    top: 205px;
}
